# Ambiente virtual
.venv/
venv/

# Arquivos e pastas de cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache/
*.log

# Arquivos específicos do seu projeto
chunks.json
faiss_index.bin

# Arquivos ocultos do sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm / IntelliJ
.idea/

# Arquivos temporários diversos
*.tmp
*.bak
